@import './Vars.scss';
@import '~bootstrap/scss/bootstrap.scss';
// @import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Montserrat:wght@400;700&display=swap');

/*RESET CSS*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.me-2 {
  margin-right: 5px !important;
}
.ms-2 {
  margin-left: 5px !important;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none !important;
  color: inherit !important;
}
// a:link,
// a:visited,
// a:hover,
// a:active {
//   color: inherit;
//   text-decoration: underline;
// }
a:hover {
  text-decoration: none;
}
a.btn {
  text-decoration: none !important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background: #163f4f !important;
}
.has-danger .form-control {
  padding-right: 1.65rem !important;
  border: 1px solid #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}
.has-danger label,
.fonterror {
  color: #dc3545;
}
.has-danger label span {
  visibility: visible !important;
}
.form-control {
  //   border-color: #929292;
  border-radius: 0;
}
.custom-select {
  height: calc(1.5em + 0.75rem + 3px);
}
.was-validated .custom-control-input:valid ~ .custom-control-label {
  color: #7a7490;
}

/*RESET CSS*/
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none !important;
  color: inherit !important;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.btn {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 9px 20px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0;
  border: none;
  color: #fff !important;
  transition: background 0.8s ease;
}
.btn-outline-primary {
  color: #5a93af !important;
}
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
  color: #fff !important;
}
a.btn {
  text-decoration: none !important;
}
.has-danger .form-control {
  padding-right: 1.65rem !important;
  border: 1px solid #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}
.has-danger label,
.fonterror {
  color: #dc3545;
}
.has-danger label span {
  visibility: visible !important;
}

/* TYPOGRAPHY*/
body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  // letter-spacing: -0.2px;
  color: #1d5469;
  background: #fff;
  min-height: 100vh;
  position: relative;
  padding-bottom: 160px;
}
p {
  margin: 0 0 25px;
  line-height: 21px;
}
.h1 {
  // line-height: 40px;
  // text-align: center;
  margin-bottom: 35px;
  // font-size: 50px;
  // font-family: 'Playfair Display', serif;
  color: #3f738d;
  font-weight: 700;
  //css
  border-bottom: #70ae95 1px solid;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  line-height: 1.3em;
  text-align: center;
  display: table !important;
  margin: 0 auto !important;
  padding: 30px 60px 5px !important;
}
.h2 {
  // line-height: 32px;
  // margin-bottom: 47px;
  // font-size: 36px;
  // font-family: 'Playfair Display', serif;
  // color: #3f738d;
  // font-weight: 600;
  font-family: 'Marcellus', serif;
  font-size: 42px;
  line-height: 1em;
  // text-align: left;
  // padding: 50px 0;
  font-weight: 300;
  margin-bottom: 50px;
}
.h3 {
  // // line-height: 30px;
  // margin-bottom: 20px;
  // font-size: 33px;
  // // font-family: 'Playfair Display', serif;
  // color: #3f738d;
  // font-weight: 600;
  border-bottom: #3f738d 1px solid;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  line-height: 1.3em;
  text-align: center;
  display: table !important;
  margin: 0 auto !important;
  padding: 0 60px 5px !important;
  font-weight: 300;
  // color: #004042;
}
legend {
  font-size: 16px;
}

/* END TYPOGRAPHY*/

.was-validated {
  .react-dropdown-select.invalid {
    border-color: #e73232 !important;
    &:focus,
    &:focus-within {
      box-shadow: 0 0 0 0.2rem rgba(231, 50, 50, 0.25) !important;
    }
  }
}
.pl-12px{
  padding-left: 12px;
}

.embed-responsive{position:relative;display:block;width:100%;padding:0;overflow:hidden}.embed-responsive::before{display:block;content:""}.embed-responsive .embed-responsive-item,.embed-responsive embed,.embed-responsive iframe,.embed-responsive object,.embed-responsive video{position:absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0}.embed-responsive-21by9::before{padding-top:42.857143%}.embed-responsive-16by9::before{padding-top:56.25%}.embed-responsive-4by3::before{padding-top:75%}.embed-responsive-1by1::before{padding-top:100%}

.content-section-p{
  padding-top: 150px;
  padding-bottom: 40px;
}

.description-photo{
  max-width: 1920px;
  /* margin-right: auto; */
  margin: 0 auto;
  .photo-site-beach{
    float: right;
  }
}
.acsb-trigger.acsb-trigger-size-medium{
  inset: auto 20px 100px auto !important;
}

/*Tablets until down*/
@include media-breakpoint-down(lg) {
  body{padding-bottom: 0;}
}

/*Large Mobiles until down*/
@include media-breakpoint-down(xxl) {
  // body{font-size: 14px;}
  // .h1 {font-size: 7vw;}
  // .h2{font-size: 30px;}
  // p{line-height: 28px;}
  .btn{font-size: 14px !important;padding: 0.5rem 1.5rem;}
}
/*Large Mobiles until down*/
@include media-breakpoint-down(md) {
  body{font-size: 14px;}
  .h1 {font-size: 7vw;}
  .h2{font-size: 35px;margin-bottom: 30px;}
  p{line-height: 28px;}
  .btn{font-size: 14px;padding: 0.5rem 1.5rem;}
}

/*Iphones Plus until Down*/
@include media-breakpoint-down(sm) {
  .btn{font-size: 12px;padding: 0.4rem 1.5rem;}
  .h1 {font-size: 6vw;letter-spacing: 6px;}
  .h2 {font-size: 32px;}
  .h3 {font-size: 15px;}
  .photo-site-beach{
    font-size: 10px;
  }
}