// @import url(https://fonts.googleapis.com/css?family=Muli&display=swap);

$footer-height-calc-fix: calc(100vh - 30px);

$theme-font: 'Muli', sans-serif;
$main-color: #123885;
$blue: $main-color;
$green: #33ad48;
$primary: #163f4f;
$secondary: $green;

$admin-menu-color: $primary;

// Used
$gradient-primary: linear-gradient(90deg, $primary 0%, lighten($primary, 10%) 50%);

$blue-primary: #73cdff;
$blue-primary-dark: darken($blue-primary, 10%);

$blue-secondary: #4d70ff;
$blue-tertiary: #7990ff;

$red-primary: #e73232;
$red-primary-dark: #cf3030;

$black-primary: #413e48;

$gray-dark: #6f6c75;
$gray-medium: #b0adb6;
$gray-light: #f4f4f4;

$info: $blue-primary;
$info: $blue-primary-dark;

$success: #33ad48;
$success-dark: #27973a;

$warning: #fff024;
$warning: #ddd01d;

$danger: $red-primary;
$danger-dark: $red-primary-dark;

// Sizes
$admin-menu-with: 320px;
$admin-menu-compact-with: 80px;
