@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// #content {
//   margin-top: 200px;
// }
.image-background-amenities {
  height: 60vh;
  background-color: transparent;
  background-image: url('../../static/images/background/above-amenities-photo.webp');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  max-width: 1920px;
  margin: 0 auto;
}


/*Desktop*/
// @include media-breakpoint-only(xl) {
  
// }

/*Laptop*/
@include media-breakpoint-only(lg) {
  
}

/*Tablets until down*/
@include media-breakpoint-down(lg) {
  
}

/*Large Mobiles until down*/
@include media-breakpoint-down(md) {
  
  
}

/*Iphones Plus until Down*/
@include media-breakpoint-down(sm) {
  // .tophome{background: url(/images/background/home-mobile.webp);height: 245px;}
  .image-background-amenities {

    background-image: url('../../static/images/background/mobile/above-amenities-photo-mobile.webp');

  }
}
