@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.content-contactUs {
  // padding-top: 200px;
  .rowButtonContact {
    a {
      width: -webkit-fill-available;
    }
  }
  .phone {
    line-height: 2em;
    padding-bottom: 20px;
    // margin-top: 100px;
  }
  a {
    text-decoration: none;
    &:hover {
      color: #70ae95;
      text-decoration: none;
    }
  }
  .tab-content {
    width: 1440px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
#button-contact {
  background: transparent;
  border: 0;
  padding-top: 30px;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  font-family: 'Montserrat', sans-serif;
  color: #004042;
  span {
    display: inline-block;
    position: relative;
    padding-left: 40px;
    top: -5px;
  }
  span::before {
    content: '';
    width: 15px;
    height: 15px;
    border: 3px solid #70ae95;
    // -webkit-border-radius: 50%;
    // -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    // -webkit-transform: translate(0, -50%);
    // -moz-transform: translate(0, -50%);
    // -ms-transform: translate(0, -50%);
    // -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 100%;
  }
  span::after {
    content: '';
    width: 80px;
    height: 1px;
    background: #70ae95;
    position: absolute;
    top: 50%;
    // -webkit-transform: translate(0,-50%);
    // -moz-transform: translate(0,-50%);
    // -ms-transform: translate(0,-50%);
    // -o-transform: translate(0,-50%);
    transform: translate(0, -50%);
    left: calc(100% + 15px);
  }
}

/*Tablets until down*/
@include media-breakpoint-down(lg) {
  .content-contactUs {
    padding-top: 150px;
  }
}