@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

#want-to-be {
    max-width: 1920px;
    margin: 0 auto;
  
    img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
    .h2 {
      color: #fff;
    }
    .content-left {
      width: 50%;
      background: #1d5469;
      color: #fff;
      padding: 5rem 7rem 5rem 7rem;
      // padding-left:  ;
      p {
        line-height: 26px;
        // margin-top: 50px;
        font-size: 16px;
      }
      .contet__left {
        max-width: 550px;
        float: right;
      }
    }
    .content-right{
      width: 50%;
    }
  }


  /*Desktop*/
// @include media-breakpoint-only(xl) {
  
// }

/*Laptop*/
@include media-breakpoint-only(lg) {
  
}

/*Tablets until down*/
@include media-breakpoint-down(lg) {
  #want-to-be{
    .content-left{
      order: 1;
      width: 100%;
      padding: 40px;
      .contet__left{
        max-width: 720px;
        margin: 0 auto;
        float: initial;
      }
    }
    .content-right{
      width: 100%;
    }
  }
}

/*Large Mobiles until down*/
@include media-breakpoint-down(md) {
  #want-to-be{
    .content-left{
      padding: 12px;
      .contet__left{
        max-width: 540px;
        margin: 0 auto;      }
    }
    .content-right{
      width: 100%;
    }
  }
}

/*Iphones Plus until Down*/
// @include media-breakpoint-down(sm) {
//   // .tophome{background: url(/images/background/home-mobile.webp);height: 245px;}

// }
