@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


.color-second{
  text-decoration:none !important;
}
.content-floor-plan {
  // padding-top: 200px;
  // width: 1460px;
  // max-width: 100%;
  // margin: 0 auto;
  // padding-left: 20px;
  // padding-right: 20px;
  // box-sizing: border-box;
  .list-group-border-right{
    border-right: 1px solid rgba(0, 0, 0, 0.125) !important;
  }
  .list-group-filter{
    padding: .5rem 1rem;
  }
  .subTitle {
    padding: 30px 0 10px 0;
    box-sizing: border-box;

    color: #999;
    font-size: 14px;
    text-align: center;
    // padding: 0 10px 0;
    margin-bottom: 5px;
    text-transform: none;

    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    display: table;
    line-height: 1.3em;
    border-bottom: #70ae95 1px solid;
  }
  .fp-price {
    font-size: 12px;
    span {
      color: #000;
      font-size: 1.3em;
    }
  }
  .btn-view-detail {
    padding: 10px 30px;
  }
  .content-image {
    // max-width: 150px;
    min-height: 245px;
    img {
      width: auto;
      margin: 0 auto;
      //   min-width: 400px;
      max-height: 245px;

      height: auto;
      vertical-align: middle;
      border: 0;
    }
  }
  // .h2 {
  //   border-bottom: #70ae95 1px solid;
  //   letter-spacing: 1px;
  //   font-size: 16px;
  //   font-family: 'Montserrat', sans-serif;
  //   text-transform: uppercase;
  //   line-height: 1.3em;
  //   text-align: center;
  //   display: table !important;
  //   margin: 0 auto !important;
  //   padding: 30px 60px 5px !important;
  //   font-weight: 300;
  //   color: #004042;
  // }
}

/*Tablets until down*/
@include media-breakpoint-down(lg) {
  .content-floor-plan {
    padding-top: 150px;
  }
}

/*Iphones Plus until Down*/
@include media-breakpoint-down(sm) {
  // .tophome{background: url(/images/background/home-mobile.webp);height: 245px;}
  // .photo-site-beach{
  //   font-size: 10px;
  // }
  .filter-floor{
    font-size: 12px;
  }
  .content-floor-plan .list-group-filter {
    padding: .5rem 0.5rem;
  }
}