@import '../Global.scss';
@import '../Vars.scss';

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

footer {
  background: #1d5469;
  color: #fff;
  font-size: 13.92px;
  width: 100%;
  position: absolute;
  min-height: 102px;
  letter-spacing: 0;
  line-height: 26px;
  bottom: 0;
  padding: 20px 0 14px 0;
  // .addressAndNumber{
    a:link {
      text-decoration: none !important;
    }
  // }

 
}

#byit49{margin-bottom: 0;text-align: center;font-size: 11px;}

/*Tablets until down*/
@include media-breakpoint-down(lg) {
  // #footer-left-logo{
  //   padding-top: 13px;
  // }
  footer{position: static;}
  footer .container {display: block !important;text-align: center;}
  footer .container > div{margin-bottom: 35px;}
  .logoequal{display:block;margin:15px auto 20px}
  .accessibilityfooter{padding-bottom: 10px;padding-top: 4px;}
}