@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.carouselgallery{position: relative;margin-bottom: 60px;}
.carouselgallery .modelarge > div{max-width: 922px;margin-bottom: 20px;}
.carouselgallery .modelarge .alice-carousel__stage-item img{cursor: pointer;}
.alice-carousel__slide-info{background: #fff;}
.carouselgallery .btn-prev, .carouselgallery .btn-next {position: absolute;top:25%;font-size: 50px;color: #c7cdde;cursor: pointer;}
.carouselgallery .btn-prev {left: 0;}
.carouselgallery .btn-next {right: 0;}
.thumbs{position: relative;}
.thumbs .alice-carousel__stage-item {padding: 0 10px;}
.thumbs .alice-carousel__stage-item img{transition: filter 0.8s ease, border-radius 0.8s ease;filter: saturate(0.5);}
.thumbs .alice-carousel__stage-item.__target img{filter: saturate(1.5);border-radius: 50px;}


/*Large Mobiles until down*/
@include media-breakpoint-down(md) {
    .carouselgallery .btn-prev, .carouselgallery .btn-next{top: 21%;font-size: 90px;}
}

/*Iphones Plus until Down*/
@include media-breakpoint-down(sm) {
    .carouselgallery .btn-prev, .carouselgallery .btn-next {top: 20%;font-size: 70px;}
}