@import '../Vars.scss';

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.navbar-light .navbar-toggler-icon {
  background-image: url('../../static/images/icons/burger.svg');
}
/* * Class for elements that are only visible to the screen reader. From * https://www.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/ */
.visually-hidden {
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  margin: -1px;
} /* * For `.visually-hidden` elements that should be visible when it gains focus. */
.visible-when-focused:focus {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static;
  white-space: normal;
  width: auto;
  margin: auto;
} /* * Style for "Skip Navigation" type links.  Should have an href linked to * a `.bypass-block-target` element. */
.bypass-block-link {
  position: absolute;
  text-decoration: none;
  background: #ffffcc;
  padding: 0.2em;
  z-index: 10;
} /* * We don't want the `.bypass-block-target` to have an outline on *just* focus, * since this will look strange if regular users click inside this element, * since it will look like it was tabbed into */
.bypass-block-target:focus {
  outline: none;
}
.bypass-block-link:focus {
  position: absolute;
  text-decoration: none;
  background: #ffffcc;
  padding: 0.2em;
  z-index: 1000000;
} /* * We do, however, want the `.bypass-block-target` to have an outline when * it has focus and it is the target of the document (i.e. the hash tag of the * document URL is the same as the "Skip Nav" link). * * Note that this style is the same as the focus state on all the tabbable * elements.  It doesn't have to be.  WCAG 2.4.7 — Focus Visible (Level AA) * only requires that the focus state is visible, so you can have, say, the * focus state of a button different than that of a form element. */

//navbar
.navbar {
  position: fixed;
  min-height: 60px;
  width: 100%;
  left: 0;
  top: -130px;
  z-index: 1001;
  background: #1d5469;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
  &.in {
    top: 0;
    // box-shadow: 0 15px 10px -16px rgb(0 0 0 / 75%);
  }
  

  .navbar-collapse {
    text-align: center;
    padding-top: 0;
    .navbar-nav {
      a {
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 22px;
        line-height: 26px;
        text-transform: capitalize;
        padding: 0 0 0 30px;
        text-shadow: none;
        text-decoration: none;
        font-size: 17.6px;
        margin-bottom: 0;
      }
      a:hover {
        color: #70ae95;
      }

      .active{
        color: #fff190 !important;
      }

    }
  }
}

/*Tablets until down*/
@include media-breakpoint-down(lg) {
  .navbar .navbar-collapse .navbar-nav a{padding: 7px 15px;text-transform: uppercase;}
}