// @import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Montserrat:wght@400;700&display=swap');
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.federal-line{
  line-height: 1.5em;
  text-transform: uppercase;
}

// .btn-color {
//   background: #163f4f;
// }
.background-images-1 {
  height: 99vh;
  width: 100%;
  position: relative;
  &::before {
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(29, 84, 105, 0.6);
    position: absolute;
    left: 0;
    top: 0;
  }
  &::before {
    border-left: 35px solid #1d5469;
    border-bottom: 35px solid #1d5469;
    border-right: 35px solid #1d5469;
  }
  .background-images__img {
    height: 99vh;
    // background-color: transparent;
    // background-image: url('../../static/images/background/image-2.jpg');
    // background-repeat: no-repeat;
    // background-position: center center;
    // background-attachment: fixed;
    // background-size: cover;
    object-fit: cover;
    object-position: center center;
    position: relative;
    width: 100%;
    z-index: -1;
    
  }
  .top-section {
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

.content-nav-section {
  background: #1d5469;
  // color: #fff;
  // position: relative;
  // z-index: 2;
  // flex-direction: row;
  padding-bottom: 35px;
  .address {
    font-family: 'Marcellus', serif;
    font-size: 42px;
    line-height: 1.3em;
    padding: 50px 12px;
    // font-weight: 300;
    text-align: center;
    color: #fff;
    // margin: 0;
    a {
      text-decoration: none;
      // &:hover {
      //   color: #163f4f;
      // }
    }
  }
}

//foto
#above-content-photo {
  background-image: url('../../static/images/background/image-2.webp');
  // width: 100vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh; //cambiar por 760 normal
  position: relative;
  z-index: 2;
}

#content-section {
  // position: relative;
  // z-index: 2;
  // #ctmcontentcontainer {
  max-width: 1000px;
  text-align: center;
  margin: auto;
  p {
    line-height: 26px;
    letter-spacing: 0px;
    // }
  }
  .highlight-info {
    font-family: 'Marcellus', serif;
    font-size: 54.4px;
    line-height: 1.3em;
    /* text-align: left; */
    padding: 50px 0;
    font-weight: 300;
    text-align: center;
    color: #1d5469;
  }
}

#residence-section {
  max-width: 1920px;
  margin: 0 auto;

  img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  .h2 {
    color: #fff;
  }
  .right-content {
    width:50%;
    background: #1d5469;
    color: #fff;
    padding: 5rem 3rem 5rem 3rem;
    p {
      line-height: 26px;
      // margin-top: 50px;
      font-size: 16px;
    }
    .content__right {
      max-width: 550px;
    }
  }
  .content-left{
    width: 50%;
  }
}

.above-amenities-photo {
  max-width: 1920px;
  margin: 0 auto;
  height: 750px;
  background: url('../../static/images/background/above-amenities-photo.webp') no-repeat center
    center;
  background-size: cover;
  position: relative;
  z-index: 4;
}



#map-contact {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 1000px;

  line-height: 1.5em;
  .h2 {
    margin-bottom: 13px;
    // text-transform: none;
    letter-spacing: 1px;
    // font-size: 16px;
    // font-family: 'Montserrat', sans-serif;
    text-align: left;
    // display: table;
    padding: 30px 60px 5px 0;
    line-height: 1.3em;
    // text-transform: uppercase;
  }
  a {
    text-decoration: none;
  }
  .location {
    display: flex;
    align-items: start;
  }
  #button-contact {
    background: transparent;
    border: 0;
    padding-top: 30px;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    font-family: 'Montserrat', sans-serif;
    color: #1d5469;
  }

  .right-content {
    width: 50%;
    padding-left: 2rem;
    padding-bottom: 3rem;
    .content-contact {
      width: 662px;
      .card-width-small {
        max-width: 590px;
      }
    }
  }
  .mapcontact {
    width: 50%;
    max-height: 100%;
    background: #ddd;
    // margin-bottom: 80px;
    z-index: 9;
    #imgMapa{
      object-fit: cover;
      width: 100%;
      object-position: center center;
      position: relative;
      height: 1000px;
    }
  }
  .mapcontact .leaflet-container {
    height: 100%;
  }
  .mapcontact a {
    text-decoration: none !important;
  }
  // .contentform {
  //   width: 500px;
  // }
  
}

#about-Helio-section {
  background: #979695;
  position: relative;
  #about-Helio-left {
    background: #fff;
    position: relative;
    box-sizing: border-box;
    .inner {
      max-width: 466px;
      .detail-info {
        margin-top: 50px;
        line-height: 26px;
        letter-spacing: 0;
      }
    }
  }
  #about-Helio-right {
    position: relative;
  }
  .width-wrapper {
    #about-Helio-right {
      .overlay {
        content: '';
        background: rgba(0, 64, 66, 0.6);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
      }
      img.logo-image {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 383px;
        max-width: 80%;
      }
    }
  }
}

/*Desktop*/
// @include media-breakpoint-only(xl) {
  
// }

/*Laptop*/
@include media-breakpoint-only(lg) {
  
}

/*Tablets until down*/
@include media-breakpoint-down(lg) {
  #residence-section{
    .content-left{
      width: 100%;
    }
    .right-content{
      width: 100%;
      padding: 40px;
      .content__right{
        max-width: 720px;
        margin: 0 auto;
      }
    }
  }
  #map-contact {
    .mapcontact{
      width: 100%;
      height: 500px;
      order: 1;
      padding:0;
    }
    .right-content{
      padding: 0;
      width: 100%;
      justify-content: center;
      .content-contact{
        .card-width-small{
          max-width: initial;
        }
      }
    }
  }
}

/*Large Mobiles until down*/
@include media-breakpoint-down(md) {
  .content-nav-section {
    .address {
      font-size: 32px;
    }
  }
  .above-amenities-photo {
    // width: 100%;
    height: 405px;
    background: url('../../static/images/background/mobile/above-amenities-photo-mobile.webp') no-repeat center
      center;
    // background-size: cover;
    // position: relative;
    // z-index: 4;
  }
  #above-content-photo {
    background-image: url('../../static/images/background/mobile/image-2-mobile.webp');
    // width: 100vw;
    // background-repeat: no-repeat;
    // background-position: center center;
    // background-size: cover;
    // height: 100vh; //cambiar por 760 normal
    // position: relative;
    // z-index: 2;
  }
  #residence-section{
    .right-content{
      padding: 12px;
      .content__right{
        max-width: 540px;
        margin: 0 auto;
      }
    }
  }
  #map-contact {
    .right-content{
      .content-contact{
        max-width: 540px;
      }
    }
    .mapcontact {
      #imgMapa{
        height: 500px;
      }
    }
  }
  
  
}

/*Iphones Plus until Down*/
@include media-breakpoint-down(sm) {
  // .tophome{background: url(/images/background/home-mobile.webp);height: 245px;}
  // .photo-site-beach{
  //   font-size: 10px;
  // }
}
