@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.description-amenities {
  padding-top: 3rem;
  padding-bottom: 3rem;
  li {
    padding: 10px 0;
    font-size: 16px;
  }
}

.withoutBullet {
  list-style: none;
}


@include media-breakpoint-down(sm) {
  .amenities-list-1{
    margin-bottom: 50px;
  }
}