@import '../Global.scss';
@import '../Vars.scss';

.top-container-full-width {
  background: $gradient-primary;
  display: flex;

  .top-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0px 40px;
  }
}

.login-container {
  width: 400px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  img {
    width: 200px;
    margin-bottom: 20px;
  }

  .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: 100%;
      margin: 4px 0px;
      padding: 0.5rem 1rem;
    }

    input[type='submit'] {
      margin: 10px 0px;
      background-color: $primary;
      color: #fff;
      border: darken($primary, 5%);
    }
  }
}

.info-container {
  width: 50%;

  h1,
  p {
    color: white;
  }

  h1 {
    font-size: 32px;
    font-weight: bold;
  }
  p {
    font-size: 20px;
    margin: 20px 0px;
  }
  a {
    font-size: 20px;
    color: white;
    text-decoration: underline;
  }
}

@media (max-width: 800px) {
  .info-container {
    display: none;
  }
}
