@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// .image-background-map-direction {
// height: 100vh;
// background-color: transparent;
// background-image: url('../../static/images/background/wantToBe.jpg');
// background-repeat: no-repeat;
// background-position: center center;
// background-attachment: fixed;
// background-size: cover;
// }
.iframemap {
  width: 100%;
  border: none;
  height: 682px;
  margin-bottom: 50px;
  // margin-top: 89px;
  
}
.mapTop{
  padding-top: 130px;
}

.description-amenities-map {
  padding: 3rem;
  // color: #004042;
  margin-top: 89px;
  h2 {
    letter-spacing: 1px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    display: table;
    padding: 30px 60px 5px 0;
    line-height: 1.3em;
    border-bottom: #70ae95 1px solid;
    text-transform: uppercase;
  }
  //   ul {
  //     padding-left: 0;
  //   }
  li {
    //   list-style: none;
    //   padding: 18px 0;
    //   font-size: 18px;
    //   line-height: 0.5em;
    padding-bottom: 20px;
  }
  .title-community-and-Apartment {
    font-family: 'Marcellus', serif;
    font-size: 54.4px;
    line-height: 1em;
    /* text-align: left; */
    font-weight: 300;
    text-align: center;
    // color: #004042;
    margin-bottom: 50px;
  }
  .width700 {
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 100px;
  }
}

.second-section {
  color: #fff;
  // background: #004042;
  //   .image-content-section {

  // padding-top: 80px;
  padding-bottom: 80px;
  img {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  //   }
}

.three-section-map {
  width: 100%;
  height: 700px;
  padding-top: 80px;
  padding-bottom: 80px;
  background: #979695;
  .mapcontact {
    max-height: 100%;
    background: #ddd;
    // margin-bottom: 80px;
    z-index: 9;
  }
  .mapcontact .leaflet-container {
    height: 100%;
  }
  .mapcontact a {
    text-decoration: none !important;
  }
}



/*Desktop*/
// @include media-breakpoint-only(xl) {
  
// }

/*Laptop*/
@include media-breakpoint-only(lg) {
  
}

/*Tablets until down*/
@include media-breakpoint-down(lg) {
  
}

/*Large Mobiles until down*/
@include media-breakpoint-down(md) {
  
  
}

/*Iphones Plus until Down*/
@include media-breakpoint-down(sm) {
  .mapTop {
    padding-top: 95px;
}
.mapaAndDirection {
  padding-right: 0;
    padding-left: 0;
}
}
