@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


.content-photo-gallery {
  // padding-top: 200px;
  .carousel {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}

/*Tablets until down*/
@include media-breakpoint-down(lg) {
  .content-photo-gallery {
    padding-top: 150px;
  }
}
