.blueimp-gallery{background: rgba(0, 0, 0, 0.75) !important;}
.blueimp-gallery > .slides > .slide > .slide-content, .blueimp-gallery > .prev, .blueimp-gallery > .next, .blueimp-gallery > .close, .blueimp-gallery > .play-pause {color: #fff !important;}
.blueimp-gallery > .prev, .blueimp-gallery > .next, .blueimp-gallery > .close, .blueimp-gallery > .title, .blueimp-gallery > .play-pause, .blueimp-gallery > .indicator {display: block !important;text-indent: -9999px;}
.blueimp-gallery > .indicator, .blueimp-gallery > .play-pause {display: none !important;}
.blueimp-gallery > .title {top: auto !important;right: 15px;bottom: 15px;left: 15px !important;margin: 0 !important;text-align: center;background: rgba(0, 0, 0, 0.9);opacity: 1;}
.accessibilityfooter{background-image: url(../../static/images/icons/accessibility.svg);padding-left: 30px;background-repeat: no-repeat;background-size: 22px;text-decoration: none;}
// loading
.contentloading {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #eeeeee;
  z-index: 9999999;
}
.contentloading img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}

.contentform {
  // max-width: 510px;
  margin: 0 auto 40px auto;
}
.contentform .form-group {
  margin-bottom: 20px;
}
.contentform .form-control,
.contentform .form-select {
  border-color: #bdbdbd;
  border-radius: 0;
}
.contentform textarea {
  height: 150px !important;
  // margin-bottom: 15px;
}
.floatlabelnow {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
