@import '../../Vars.scss';

.compact-menu {
  .menu-left {
    .btn-toggle-compact-menu.no-events {
      pointer-events: none;
    }
    &:not(:hover) {
      width: $admin-menu-compact-with;
      // overflow: hidden;
      .menu-left__header {
        .navbar-brand-logo {
          margin: 0;
        }
        .user-text {
          top: -100px;
        }
      }
      .menu-left__content {
        ul {
          li {
            a.nav-link {
              flex-direction: column;
              svg {
                font-size: 1.8rem;
                margin-right: 0;
              }
              span {
                display: none;
                font-size: 0.6rem;
              }
            }
          }
        }
      }
    }
  }
}

.menu-left {
  //   position: fixed;
  left: 0;
  background: $admin-menu-color;
  width: $admin-menu-with;
  flex-direction: column;
  display: flex;
  height: 100vh;
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  z-index: 1015;
  position: fixed;
  color: #fff;

  .menu-left__header {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    border: 1px solid lighten($admin-menu-color, 10%);
    .navbar-brand-logo {
      background-color: #fff;
      width: 40px;
      min-width: 40px;
      height: 40px;
      border-radius: 50%;

      padding: 0.3rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .user-text {
      position: relative;
      margin-left: 1rem;
      top: 0;
      transition: top 450ms cubic-bezier(0.685, 0.0473, 0.346, 1);
      white-space: nowrap;
    }
    .btn-toggle-compact-menu {
      position: absolute;
      right: -37px;
      z-index: 1115;
      width: 53px;
      height: 53px;
      border: 3px solid #fff;
      box-shadow: none;
    }
  }
  .menu-left__content {
    // padding: 1rem;
    overflow: hidden;
    margin-top: 1rem;
    ul {
      list-style: none;
      padding: 0;
      li {
        margin: 0;
        a.nav-link {
          &.active,
          &:hover {
            color: #fff;
            background: rgba(7, 9, 25, 0.15);
          }
          svg {
            margin-right: 0.85rem;
            font-size: 1.495rem;
          }
          position: relative;
          display: flex;
          align-items: center;
          align-content: center;
          height: 44px;
          padding: 0 1.5rem;
          font-size: 1.06rem;
          white-space: nowrap;
          font-weight: 700;
          color: rgba(255, 255, 255, 0.65);
        }
      }
    }
  }
}

/*Large devices and less*/
@media (max-width: 1199px) {
  .menu-left {
    position: fixed !important;
    left: -320px !important;
    width: $admin-menu-with !important;

    .admin-layout.open & {
      left: 0px !important;
      .menu-left__header {
        .navbar-brand-logo {
          margin: 0;
        }
        .user-text {
          top: 0px;
        }
      }
      .menu-left__content {
        ul {
          li {
            a.nav-link {
              flex-direction: row;
              svg {
                margin-right: 0.85rem;
                font-size: 1.495rem;
              }
              span {
                display: block;
                font-size: 1.06rem;
              }
            }
          }
        }
      }
    }
  }
}

/*Large devices (laptops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 991px) {
}

/*Mobile devices (landscape phones)*/
@media (max-width: 767px) {
}

/*Iphone6 Plus*/
@media (max-width: 480px) {
}

/*Most Androids Phones*/
@media (max-width: 380px) {
}

/*Iphone 5 or the smallest phone*/
@media (max-width: 330px) {
}
