@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
.admin-layout {
  display: flex;
  justify-content: stretch;
  background: #f4f5fd;
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);

  .btn-toggle-compact-menu {
    position: absolute;
    right: -37px;
    z-index: 1115;
    width: 53px;
    height: 53px;
    border: 3px solid #fff;
    box-shadow: none;
  }
  .btn-toggle-compact-menu-mobile {
    display: none;
  }
  // a {
  //   font-family: sans-serif;
  //   font-size: 16px;
  //   font-weight: 700;
  //   text-decoration: none !important;
  //   // padding: 3px 0 0 0 !important;
  //   border-top: 0 !important;
  //   // margin-left: 1rem !important;
  //   transition: color 0.4s ease;
  //   outline: none !important;
  // }
  // .btn.btn-admin {
  //   min-width: auto;
  //   font-size: 13px;
  //   padding: 0.5rem 1rem !important;
  // }

  // .container-detail {
  //   .mb-3 strong {
  //     width: 100%;
  //     display: block;
  //   }
  // }
}

h1.card-title {
  margin-bottom: 0;
  font-size: 1.8rem;
}
body {
  font-size: 1.1rem;
}

.react-dropdown-select {
  border: 1px solid #ced4da !important;
  min-height: 38px !important;
  font-size: 1rem !important;
  font-family: 'Istok Web', sans-serif !important;
  // padding-left: 0.75rem !important;
  &:focus,
  &:focus-within {
    // box-shadow: 0 0 0 3px rgba(0,116,217,0.2);
    box-shadow: 0 0 0 0.2rem rgba(37, 48, 83, 0.25) !important;
  }
  .react-dropdown-select-input {
    font-size: 1rem !important;
    font-family: 'Istok Web', sans-serif !important;
    color: #495057;
  }
}

.card-featured-body {
  max-height: 250px;
  overflow-y: auto;
}

.modal-90w {
  width: 90%;
  max-width: none !important;
}
.sortableHelper {
  z-index: 1100;
}

/*Large devices and less*/
@media (max-width: 1199px) {
  .admin-layout {
    .btn-toggle-compact-menu {
      display: none;
    }
    .btn-toggle-compact-menu-mobile {
      display: flex;
    }
  }
}

/*Large devices (laptops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 991px) {
}

/*Mobile devices (landscape phones)*/
@media (max-width: 767px) {
}

/*Iphone6 Plus*/
@media (max-width: 480px) {
}

/*Most Androids Phones*/
@media (max-width: 380px) {
}

/*Iphone 5 or the smallest phone*/
@media (max-width: 330px) {
}
