@import '../../Vars.scss';
// @import '~bootstrap/scss/bootstrap.scss';

.admin-layout {
  // .btn-toggle-compact-menu {
  //   position: absolute;
  //   right: -37px;
  //   z-index: 1115;
  //   width: 53px;
  //   height: 53px;
  //   border: 3px solid #fff;
  // }
}

.compact-menu {
  .admin-layout__right {
    margin-left: $admin-menu-compact-with;
  }
}
.admin-layout__right {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: $admin-menu-with;
  nav.navbar {
    padding: 0.5rem 1rem;
    position: relative;
    min-height: 58px;
    &::after {
      display: none;
    }
    .btnlogout {
      font-size: 0.875rem;
      max-height: 2rem;
      // &:hover,
      // &:active,
      // &:focus {
      // color: darken($red-primary-dark, 10%) !important;
      // }
    }
  }
}
.svg-inline--fa.fa-w-14 {
  width: 0.875em;
}

/*Large devices and less*/
@media (max-width: 1199px) {
  .admin-layout__right {
    margin-left: 0 !important;
  }
}

/*Large devices (laptops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 991px) {
}

/*Mobile devices (landscape phones)*/
@media (max-width: 767px) {
}

/*Iphone6 Plus*/
@media (max-width: 480px) {
}

/*Most Androids Phones*/
@media (max-width: 380px) {
}

/*Iphone 5 or the smallest phone*/
@media (max-width: 330px) {
}
