@import '../../Vars.scss';

:local .container {
  min-height: $footer-height-calc-fix;
  padding: 120px 0px;
  padding-bottom: 40px;

  form .row > div {
    margin-bottom: 12px;
  }

  form .row div:nth-child(3) {
    margin-top: 18px;
  }
}
